[submodule "contrib/rmsd"]
	path = contrib/rmsd
	url = git@github.com:yurivict/rmsd.git
[submodule "contrib/Periodic-Table-JSON"]
	path = contrib/Periodic-Table-JSON
	url = git@github.com:Bowserinator/Periodic-Table-JSON.git
[submodule "contrib/date"]
	path = contrib/date
	url = https://github.com/HowardHinnant/date
