[submodule "rmsd"]
	path = contrib/rmsd
	url = https://github.com/charnley/rmsd.git
[submodule "Periodic-Table-JSON"]
	path = contrib/Periodic-Table-JSON
	url = https://github.com/Bowserinator/Periodic-Table-JSON.git
[submodule "date"]
	path = contrib/date
	url = https://github.com/HowardHinnant/date
[submodule "pv"]
	path = contrib/js-libs/pv
	url = https://github.com/biasmv/pv.git
[submodule "sqlstring"]
	path = contrib/sqlstring
	url = https://github.com/mysqljs/sqlstring
